<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/welcome.css" />
</head>

<body>
<div class="welcome">
<h1> Welcome to Ztracker app !!</h1>
<h2> Here you can create daily calories tracker to keep yourself fit !</h2>
<h3> New User, please <a href="/signup">signup</a></h3>
<h3> Already have an account <a href="/signin">signin</a></h3>
<br><br>
<footer class="branding">
        <small>&copy; 2020 <strong>ZtrackerSinatraApp</strong></small>
</footer>
</div>
</body>
</html>
